flask
#requests
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-storage
google.auth
google-python-cloud-debugger
pandas
pytz
iso8601
python-dateutil
google-cloud-iot==2.0.1
pythermalcomfort==1.3.3
google-cloud-logging